.exploreNearbyTitle {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(75, 75, 75);
}

.exploreNearbyContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    justify-content: space-evenly;
}