.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    margin-top: 0;
    z-index: 50;
    background-color: white;
    box-shadow: 1px 1px 8px 1px #e0e0e0;
    justify-content: space-evenly;
}

.navLeft {
    display: flex;
    height: 25px;
    cursor: pointer;
}

.logo{
    object-fit: contain;
    justify-content: left;
}

.navCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto 5px auto;
    border: .8px solid rgb(226, 226, 226);
    box-shadow: .3px .3px 3px .3px #e0e0e0;
    border-radius: 8px;
}

.searchInput{
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    outline: none;
    font-size: 8px;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(133, 133, 133);

}

.searchIcon {
    height: 10px;
    background-color: teal;
    color: white;
    border-radius: 50%;
    padding: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 9px;
    margin-left: 9px;
}

.navRight p{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(133, 133, 133);
}

.globeAltIcon {
    height: 10px;
    margin-left: 6px;
    color: rgb(73, 73, 73);
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid teal;
    border-radius: 20px;
    margin-left: 6px;
    height: 20px;
    width: 30px;
}

.menuIcon {
    height: 10px;
    color: rgb(112, 112, 112);
    cursor: pointer;
    padding: 1.5px;
}

/* whem screem is bigger tham max-width them execute the code */
@media (max-width: 400px) {
    .searchIcon {
        display: none;
    }
    .navCenter {
        border: none;
        box-shadow: none;
    }
    .searchInput {
        text-align: center;
    }
    .navRight p {
        display: none;
    }
}